---
layout: default
section_id: home
slides:
  - bg: images/insta/london.jpg
  - bg: images/insta/boston.jpg
  - bg: images/insta/bogota.jpg
  - bg: images/insta/stavanger.jpg
  - bg: images/insta/norwayice.jpg
  - bg: images/insta/toulouse.jpg

services:
  - title: Hola
    desc: lala

projects:
  - image: images/projectThumbnails/AVE_chris.jpg
    title: Information and Dynamic Human Capital Accumulation
    link_to: portfolio-AVE.html
    klass: graphi-design
    desc: 'Human Capital in The Dominican Republic'
  - image: images/projectThumbnails/markdown_quality_Santiago.png
    title: Competitive Incentives in Education Markets
    link_to: portfolio-competitionEdMarkets.html
    klass: graphi-design
    desc: 'School Choice in Chile'
  - image: images/projectThumbnails/2016cover.jpg
    title: Heterogenous Beliefs, School Choice Systems and Mechanism Design Solutions
    link_to: portfolio-NHschoolChoice.html
    klass: graphi-design
    desc: 'Mechanism Design in Practice, in New Haven, CT'
  - image: images/projectThumbnails/admision_1977.jpg
    title: Historical Data on Centralized College Assigment (1967-2017)
    link_to: portfolio-PAAhistorico.html
    klass: graphi-design
    desc:  'Mechanism Design in Practice in Chile'
  - image: images/projectThumbnails/IcfesBot.jpeg
    title: Empowering Search and Improving Investment in Human Capital
    link_to: portfolio-consiliumbots.html
    klass: graphi-design
    desc: 'AI Assisted Search Bot for College Major Choice'
  - image: images/projectThumbnails/BVP.jpg
    title: Policies that Recruit, Retain and Promote Teacher Talent
    link_to: portfolio-teachers.html
    klass: graphi-design
    desc: 'A series of studies on promoting teacher quality in Chile'
  - image: images/projectThumbnails/ProbCollege.jpg
    title: Student Choices, Policy and Market Structure of Higher Education
    link_to: portfolio-item.html
    klass: graphi-design
    desc: 'Policy and efficiency of the higher education system in Chile'
  - image: images/projectThumbnails/ninos.jpg
    title: Dynamic Complementarities of Information Provision and Human Capital
    link_to: portfolio-DFM.html
    klass: graphi-design
    desc: 'Human Capital in Peru'

milestones:
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee
  - icon: code
    from: 0
    to: 81351
    title: Lines of code

---


<div class='full' style="background: #EE7F2D">
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="About me" %}
      <div class='spacing'></div>
      <!-- <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p> -->
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 text-center columns'>
      <img class="img-avatar" alt="" src="images/team/chris_yale.jpg" />
      <!-- <div class='three spacing'></div> -->
    </div>
    <div class='medium-6 columns'>
      <p style="font-size:20px; color:white ">{{ site.work.coauthors }}</p>
      <p style="font-size:20px; color:white ">I am an applied microeconomist at Princeton University. My research focuses on the study of education markets. I work with governments to design and evaluate public policies analyzing large administrative datasets through the lens of microeconomic models of firm and consumer behavior.</p>
      <p> <a href="{{site.url}}/about.html" style="font-size:20px; color:white ">Read more ></a>   <a class='button small' style="font-size:20px; font-weight: bold; color:white" href="CV/CNeilson_CV_2018_11_01.pdf">Download CV</a>
      </p>



      <!-- {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %} -->
    </div>
  </div>
  <div class='three spacing'></div>
</div>


<div class="four spacing"></div>

<div class="row">
  {% include section-header.html title="Featured research" %}
  <div class="two spacing"></div>

  <div class="medium-4 large-4 columns">
    <a href='work/early-life.html'>{% include icon-text.html title='Early Life Health Interventions and Academic Achievement             ' desc='American Economic Review' icon_class='fa fa-ambulance' delay='400' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/het-beliefs-NHPS.html'>{% include icon-text.html title='Heterogeneous Beliefs and School Choice Assignment Mechanisms' desc='American Economic Review (R&R)' icon_class='fa fa-cogs' delay='0' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/targeted-vouchers.html'>{% include icon-text.html title='Targeted Vouchers, Competition Among Schools and the Academic Achievement of Poor Students' desc='Econometrica (R&R)' icon_class='fa fa-graduation-cap' delay='200' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/credit-info.html'>{% include icon-text.html title='The Equilibrium Effects of Asymmetric Information: Evidence from Consumer Credit Markets' desc='NBER Working Paper No. 25097' icon_class='fa fa-credit-card' delay='400' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/earnings-disclosure.html'>{% include icon-text.html title='The Effects of Earnings Disclosure on College Enrollment Decisions' desc='NBER Working Paper No. 21300' icon_class='fa fa-lightbulb-o' delay='400' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/equilibrium-informed-school-choice.html'>{% include icon-text.html title='Approximating The Equilibrium Effects of Informed School Choice' desc='Working Paper' icon_class='fa fa-bar-chart-o' delay='400' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-16 columns">
  <a href="{{site.url}}/research.html" style="font-size:20px; ">Read more ></a>
  </div>
</div>


<div class="spacing"></div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Featured Projects" %}
      <div class="spacing"></div>
      <p>

      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.projects %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full parallax' style='background-image: url(images/CDE-estimations_code.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="In numbers" color="#fff" %}
      <div class='spacing'></div>
      <!-- <p class='centered-text' style='color: #ccc;'>
        Lorem ipsum     </p> -->
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <!-- Publications -->
    {% assign workpublished = site.work | where:"pub_status","published" %}
    <div class='medium-3 large-3 columns'>
      <div class='mod modMilestone'>
        <i class='fa fa-file-text'></i>
        <strong data-from=0 data-to='{{workpublished.size}}'>&nbsp;</strong>
        <span><b>Articles</b></span>
        <div class='four spacing'></div>
      </div>
    </div>
    <!-- Coauthors -->
    {% assign coauthors_uniq = workpublished | map: 'coauthors' | join: ', ' | split: ',' | uniq %}
    <div class='medium-3 large-3 columns'>
      <div class='mod modMilestone'>
        <i class='fa fa-users'></i>
        <strong data-from=0 data-to='{{ coauthors_uniq.size }}'>&nbsp;</strong>
        <span><b>Coauthors</b></span>
        <div class='four spacing'></div>
      </div>
    </div>
    <!-- Grant money -->
    {% assign sum = 0 %}
    {% for grant in site.data.grants %}
      {% assign sum = sum | plus: grant.amount %}
    {% endfor %}
    <div class='medium-3 large-3 columns'>
      <div class='mod modMilestone'>
        <i class='fa fa-money'></i>
        <strong data-from=0 data-to='{{ sum }}'>&nbsp;</strong>
        <span><b>Grant money (USD)</b></span>
        <div class='four spacing'></div>
      </div>
    </div>

    <div id="citations" class='medium-3 large-3 columns'>
      <!--div class='mod modMilestone'>
        <i class='fa fa-quote-left'></i>
        <strong>&nbsp;</strong>
        <span><b>Citations</b></span>
        <div class='four spacing'></div>
      </div-->
    </div>
    <!-- {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %} -->
  </div>
  <div class='two spacing'></div>
</div>

<script type="text/javascript" src="{{ '/javascripts/scholar/jquery.ajax-cross-origin.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/javascripts/scholar/scholar.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    // Scholar.debug = true;
    var citationCount = 0;
    Scholar.load("6MZfok0AAAAJ");
</script>

<!-- <div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p> -->
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          <!-- </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div> -->


<!-- {% include our-customers.html %} -->


<!-- <div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div> -->
