---
layout: default
title: Portfolio
section_id: portfolio
works:
  - image: images/portfolio/SEP.png
    title: 'Targeted Vouchers, Competition Among Schools and the Academic Achievement of Poor Students'
    link_to: portfolio-item.html
    klass: io
    desc: 'Econometrica (R&R)'
    
  - title: 'The Equilibrium Effects of Informed School Choice'
    image: images/portfolio/allende-gallego-neilson.png
    link_to: portfolio-item.html
    klass: education early-childhood
    desc: 'with Claudia Allende, Francisco Gallego'

  - title: 'Early Life Health Interventions and Academic Achievement'
    coauthors: 'Prashant Bharadwaj and Katrine Vellesen Løken'
    year: 2013
    pubstatus: 'American Economic Review, 103 (5): 1862-91'
    desc:
    klass:
    link_to: 'https://www.aeaweb.org/articles?id=10.1257/aer.103.5.1862'
    image: images/portfolio/Bharadwaj-VellesenLoken-Neilson.png

  - title: 'The effect of school construction on test scores, school enrollment, and home prices'
    coauthors: 'Seth D. Zimmerman'
    year: 2014
    pubstatus: 'Journal of Public Economics 120 (December 1, 2014): 18–31'
    desc:
    klass:
    link_to: 'https://www.aeaweb.org/articles?id=10.1257/aer.103.5.1862'
    image: images/portfolio/Neilson-Zimmerman_2014.png

  - title: 'Connecting Student Loans to Labor Market Outcomes: Policy Lessons from Chile'
    coauthors: 'Beyer, Harald, Justine Hastings, and Seth Zimmerman'
    year: 2015
    pubstatus: 'American Economic Review, 105 (5): 508-13'
    desc:
    klass:
    link_to: 'https://www.aeaweb.org/articles?id=10.1257/aer.103.5.1862'
    image: images/portfolio/Beyer-Hastings-Neilson-Zimmerman.png

  - title: '(Un)informed College and Major Choice: Evidence from Linked Survey and Administrative Data'
    coauthors: 'Justine Hastings, Anely Ramirez, and Seth Zimmerman'
    year: 2016
    pubstatus: 'Economics of Education Review, Access to Higher Education, 51 (April 1, 2016): 136–51'
    desc:
    klass:
    link_to: 'https://www.aeaweb.org/articles?id=10.1257/aer.103.5.1862'
    image:

  - title: 'Health at Birth, Parental Investments and Academic Outcomes'
    coauthors: 'Prashant Bharadwaj, and Juan Pedro Eberhard'
    year: 2018
    pubstatus: 'Journal of Labor Economics 36, no. 2 (April 2018): 349-394'
    desc:
    klass:
    link_to: 'https://www.journals.uchicago.edu/doi/10.1086/695616'
    image:

  - title: 'The Gender Gap in Mathematics: Evidence from Chile'
    coauthors: 'Prashant Bharadwaj, Giacomo De Giorgi, and David Hansen'
    year: 2016
    pubstatus: 'Economic Development and Cultural Change 65, no. 1 (October 2016): 141-166'
    desc:
    klass:
    link_to: 'https://www.journals.uchicago.edu/doi/abs/10.1086/687983'
    image:

  - title: 'Grey Matters: Fetal Pollution Exposure and Human Capital Formation'
    coauthors: 'Prashant Bharadwaj, Matthew Gibson, and Joshua Graff Zivin'
    year: 2017
    pubstatus: 'Journal of the Association of Environmental and Resource Economists 4, no. 2 (June 2017): 505-542'
    desc:
    klass:
    link_to: 'https://www.journals.uchicago.edu/doi/abs/10.1086/691591'
    image:
---


<div class='full parallax' style='background-image: url(images/whiteboard.jpg); color: #fff;'>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Portfolio" tagline="Papers &amp; Working Papers by Project" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='io' href='#'>Industrial Organization</a>
          </li>
          <li>
            <a data-cat='education' href='#'>Education</a>
          </li>
          <li>
            <a data-cat='devo' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='public' href='#'>Public Economics</a>
          </li>
          <li>
            <a data-cat='early-childhood' href='#'>Early Childhood</a>
          </li>
          <li>
            <a data-cat='information' href='#'>Information Economics</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="/images/sqr400.png" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <p style="font-weight:bold;font-size: larger;line-height: normal;">{{ work.title }}</p>
                  <p>{% if work.coauthors %} with {{ work.coauthors }} {% endif %} {% if work.year %} ({{ work.year }}) {% endif %}</p>
                  <p>{{ work.pubstatus }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
