---
layout: default
title: Research
section_id: research
---


<div class='full parallax' style='background-image: url(images/whiteboard.jpg); color: #fff;'>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Portfolio" tagline="Papers &amp; Working Papers by Project" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='io' href='#'>Industrial Organization</a>
          </li>
          <li>
            <a data-cat='education' href='#'>Education</a>
          </li>
          <li>
            <a data-cat='devo' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='public-econ' href='#'>Public Economics</a>
          </li>
          <li>
            <a data-cat='early-childhood' href='#'>Early Childhood</a>
          </li>
          <li>
            <a data-cat='information' href='#'>Information Economics</a>
          </li>
          <li>
            <a data-cat='public-pol' href='#'>Public Policy</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in site.work %}
          <li class="{{ work.klass }}">
            <a href='{{ work.url }}'>
              <img alt="" src="/images/sqr400.png" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <p style="font-weight:bold;font-size: larger;line-height: normal;">{{ work.title }}</p>
                  <p>{% if work.coauthors %} with {{ work.coauthors }} {% endif %} {% if work.pub_date %} ({{ work.pub_date }}) {% endif %}</p>
                  <p>{{ work.pub_where }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
