<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
              <img class="img-avatar" src="img/team/chris_yale.jpg" alt="Avatar">
            </div>
            <div class="col-md-6 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p style="text-align: left">I am an applied micro economist, and my research focuses on the study of public policy and education markets. I design and evaluate public policies using a mix of experimental methods together with the estimation of structural microeconomic models of firm and consumer behavior.</p>
                <a href="about.html" class="btn btn-default btn-xl">Read more</a>
            </div>
        </div>
    </div>
</section>
