<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
      <p align="center">I work with an amazing group of talented people that help me in my projects.</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://obordeu.github.io/"><img class="img-avatar" src="img/team/olivia.jpg" alt="Avatar"><h3>Olivia Bordeu</h3></a>
                    <p class="text-muted">Princeton University</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://users.nber.org/~callef/"><img class="img-avatar" src="img/team/franco.jpg" alt="Avatar"><h3>Franco Calle</h3></a>
                    <p class="text-muted">NBER</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://acarril.github.io/"><img class="img-avatar" src="img/team/alvaro.jpg" alt="Avatar"><h3>Alvaro Carril</h3></a>
                    <p class="text-muted">NBER</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://karnani.cl"><img class="img-avatar" src="img/team/mohit.jpg" alt="Avatar"><h3>Mohit Karnani</h3></a>
                    <p class="text-muted">NBER</p>
                </div>
            </div>
        </div>
    </div>
</section>
