---
layout: default
---


<div class='full parallax' style='background-image: url(/images/@stock/portfolio-header-bg.jpg); color: #fff;'>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <!-- <div class="mod modSectionHeader {{include.class}}">
        <div class="special-title centered-text">
          <h2>{{ page.title }}</h2>
        </div>
          <h3 class='centered-text'>G</h3>
      </div> -->
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>



<div class='full'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h2>{{ page.title }}</h2>
      <h3>Abstract</h3>
      <p>{{ page.abstract }}</p>

      {{ content }}
      <div class='spacing'></div>
      <a class='button small' href=''>Visit website</a>
    </div>
    <div class='large-4 columns'>
      <ul class='info'>
        <li>
          <strong>Coauthors:</strong>
          {{ page.coauthors }}
        </li>
        <li>
          <strong>Published:</strong>
          {{ page.pub_where }}
        </li>
        <li>
          <strong>Date:</strong>
          {{ page.pub_date }}
        </li>
        <li>
          <div class='spacing'></div>
          <a href='' title='previous'>
            <i class='icon-left-open'></i>
          </a>
          <a href='portfolio.html' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
          <a href='' title='next'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
