---
layout: default
---


<div class='full parallax' style='background-image: url(/images/SEP-working-screenshot.jpg); color: #fff;'>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <!-- <div class="mod modSectionHeader {{include.class}}">
        <div class="special-title centered-text">
          <h2>{{ page.title }}</h2>
        </div>
          <h3 class='centered-text'>G</h3>
      </div> -->
    </div>
  </div>
  <div class='four spacing'></div>
</div>



<div class='full'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h2>{{ page.title }}</h2>
      <h3>Abstract</h3>
      <p>{{ page.abstract }}</p>

      {{ content }}
      <div class='spacing'></div>
      {% if page.article %}<a class='button small' href='{{ page.article }}'>Article</a>{% endif %}
      {% if page.appendix %}<a class='button small' href='{{ page.appendix }}'>Appendix</a>{% endif %}
    </div>
    <div class='large-4 columns'>
      <ul class='info'>
        {% if page.coauthors %}
        <li>
          <strong>Coauthors:</strong>
          {{ page.coauthors }}
        </li>
        {% endif %}
        {% if page.pub_where %}
        <li>
          <strong>Published:</strong>
          {{ page.pub_where }}
        </li>
        {% endif %}
        <li>
          <strong>Date:</strong>
          {{ page.pub_date }}
        </li>
        <li>
          <div class='spacing'></div>
          <a href='' title='Previous article'>
            <i class='icon-left-open'></i>
          </a>
          <a href='/research.html' title='Back to Research'>
            <i class='icon-layout'></i>
          </a>
          <a href='' title='Next article'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
